.map-layout {
  display: flex;
  align-items: stretch;
}

#map {
  width: 400px;
  height: 100vh;
  top: 0px !important;
  position: sticky !important;
}

@media(max-width: 500px) {
  .profile-dashboard {
    display: block;
  }
}
