<div class="container">
  <div class="cards">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-my-experience">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <div class="card-my-experience-infos">
            <h2>Product name</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
