<div class="container">
  <div id="home-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'kite_one.jpg' %>')">
    <div class="banner-content text-center">
      <h2>Gagnez jusqu'à 20 000€ par mois en partageant vos expériences en kite !</h2>
      <%= link_to "Become a kite master", new_experience_path, class: 'btn-izy-banner' %>
    </div>
  </div>
</div>
