.inbox {
  padding: 20px;
  list-style: none;
  border: 1px solid rgba(220,224,244,0.4);
  padding-top: 0px;
  margin-top: 0px;
}

.message {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding: 20px;
  font-size: 13px;

  /* Your turn to design a flexbox message */
}

.message:last-child {
  border-bottom: none;
  /* Your turn to design a flexbox message */
}

.message-status {
  width: 20px;
  padding-right: 40px;
}

.message-name {
  font-size: 13px;
  padding-left: 20px;
  width: 200px;
}

.message-body {
  flex-grow: 1;
  font-size: 13px;
}

.message-body strong {
    color: rgba(0,0,0,0.9);
  }

.message-body p {
    color: rgb(150,150,150);
}

.status-pending {
  color: grey;

}

.status-accepted {
  color: green;

}

.status-denied {
  color: red;

}
