#container-xp {
  width: 800px;
}

#xp-desc {
  border: 1px rgba(200, 200, 200, 0.9);
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.9);
  margin-top: -40px;
  background-color: white;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.xp-photo {
  width: 20%;
}

#desc-padding {
  padding-bottom: 50px;
}

.xp-content {
  width: 500px;
  p {
    font-size: 16px;
  }
}

.xp-content h2 {
  padding-bottom: 30px;
}

.review-card {
  width: 800px;
}

#desc-xp {
  padding-bottom: 25px;
}

#desc-xp-font-size {
  font-size: 14px;
  padding-bottom: 20px;
}

.xp-details {
  margin-top: 25px;
  p {
   font-size: 14px;
  }
}
